.form-container{
    max-width: 350px;
    padding: 1rem;
}

html,body{
    height: 100%;
}

button{
    margin: 10px;
    border: none;
}

.btn-google img{
    width: 40px;
}

.btn-google{
    border-radius: 10px;
    border: none;
    height: 50px;
}

.login {
    display: flex;
    background-color: #daebfd;
}

.left {
    height: 100vh;
    background-color: #0077FF;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 40%;
    border-radius: 5px;
}

.left span {
    color: black;
    font-weight: bold;
}

.left p {
    width: 300px;
    margin: auto;
    text-align: left;
}

.left h1 {
    margin-top: 200px;
}